language: python
python:
  - 3.5
branches:
  only:
    - master
    - develop
notifications:
  email: false

sudo: true

addons:
  apt:
    packages:
      - oracle-java8-installer

before_install:
  - sudo rm -rf /dev/shm
  - sudo ln -s /run/shm /dev/shm
  # install Neo4j locally:
  #- sudo apt-get update && sudo apt-get install oracle-java8-installer
  - export JAVA_HOME=/usr/lib/jvm/java-8-oracle
  - bash continuous-integration/travis/install.sh

# Install packages
install:
  - export PATH="$HOME/miniconda/miniconda/bin:$PATH"
  - source activate test-environment
  - which python
  - conda list

# Run test
script:
  - python bin/pgdb.py start
  - sleep 10
  - "coverage run --source=polyglotdb setup.py test"

# Calculate coverage
after_success:
  - coveralls

cache:
  pip: true
  apt: true
  directories:
    - $HOME/miniconda
    - $HOME/pgdb
