language: python
python:
  - 3.5
branches:
  only:
    - master
    - develop
notifications:
  email: false

sudo: false
jdk:
  - oraclejdk8

before_install:
  # install Neo4j locally:
  #- sudo apt-get update && sudo apt-get install oracle-java8-installer
  #- export JAVA_HOME=/usr/lib/jvm/java-8-oracle
  - bash continuous-integration/travis/install.sh
  - ls $HOME/neo4j/neo4j

# Install packages
install:
  - export PATH="$HOME/miniconda/miniconda/bin:$PATH"
  - source activate test-environment
  - which python
  - conda list

# Run test
script:
  - $HOME/neo4j/neo4j/bin/neo4j start
  - sleep 10
  - "coverage run --source=polyglotdb setup.py test"

# Calculate coverage
after_success:
  - coveralls

cache:
  pip: true
  directories:
    - $HOME/miniconda
