name: pytest

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      PGDB_HOME: ${{ github.workspace }}/pgdb_home

    steps:
    - name: Checkout main repository
      uses: actions/checkout@v3
      with:
        repository: MontrealCorpusTools/PolyglotDB

    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Set up JDK 21
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '21'

    - name: Download and set up Praat
      run: |
        wget https://github.com/praat/praat/releases/download/v6.4.21/praat6421_linux-intel64-barren.tar.gz -O praat.tar.gz
        tar -xvzf praat.tar.gz
        echo "praat=$(pwd)/praat_barren" >> $GITHUB_ENV

    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libsndfile1

    - name: Install required packages and run pytest
      run: |
        python -m venv venv
        source venv/bin/activate
        pip install --upgrade pip
        pip install -e .
        pip install pyyaml setuptools pytest
        pgdb install $PGDB_HOME
        pgdb start
        pytest
        pgdb stop
